{
  "plugins": [
    "@babel/plugin-proposal-function-bind",
    "@babel/plugin-transform-shorthand-properties"
  ],
  "presets": [
    ["@babel/preset-env", {"targets": "maintained node versions"}]
  ],
  "env": {
    "test_coverage": {
      "plugins": [
        ["istanbul", {"exclude": ["test/*.js", "**/*_spec.js"]}]
      ]
    },
    "browser": {
      "plugins": [
        "transform-regenerator",
        ["transform-runtime", {"polyfill": false, "regenerator": true}]
      ]
    }
  },
  "sourceMaps": "inline"
}